.header{
  color: rgb(0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}
.intro{
  flex: 1;
  max-width: 850px;
  display: flex;
  font-size: 50px;
  margin: auto;
  font-weight: bold;
}