@keyframes rock {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg); /* Rotate to the right */
    }
    50% {
        transform: rotate(-2deg); /* Rotate to the left */
    }
    75% {
        transform: rotate(2deg); /* Rotate to the right */
    }
    100% {
        transform: rotate(0deg);
    }
}

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title{
    font-size: 110px;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rock 1s infinite;
}

.description{
    font-size: 40px;
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
}

.create{
    margin-top: 60px;
    border: solid;
    border-width: 2px;
    background: transparent;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
}